/* .body .side-menu .session-details-tab {
box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-khtml-box-sizing: border-box;
-webkit-box-sizing: border-box;
height: 100%;
padding: 50px 0px 50px 0px;
} */
