<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="" />
        <link href="/static/css/layout.css" rel="stylesheet" type="text/css">
        <title>
            <%= title %>
        </title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/scripts/easytimer.js"></script>
    </head>
    <!-- <style>
        html {
            height: 100%;
        }
        .body {
            background-color: #ffffff;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            margin: 0px 0px 0px 0px;
            display: block;
            height: 100%;
        }
        .app{
            width: 100%;
            height: 100%;
            margin: 0px auto 0px auto;
            padding: 5px 5px 5px 5px;
            background-color: #f4f6f9;
        }

        .body .header {
            border: 2px solid black;
            background-color: #3584b5;
            height: 15%;
        }

        .body .header .logo .image {
            height: 50px;
            width: auto;
            text-align: right;
            right: 3%;
            position: absolute;
            top: 4%;
        }
        
        .body .header .session-timer {
            font-size: 60px;
            color: #ffffff;
            text-align: center;
            margin: auto;
            position: relative;
            height: 50px;
            line-height: 50px;
            margin-top: 3%;
        }

        .body .stations .station {
            border: 2px solid black;
            display: block;
            position: relative;
            background-color: #ffffff;
            border-top: 1px solid black;
            padding-left: 15%;
            padding-right: 15%;
            height: 100px;
        }

        .body .stations .station.active {
            background-color: green; 
        }
        
        .body .stations .station.stop {
            background-color: red; 
        }

        .body .stations .station .info p {
            display: inline-block;
            font-size: 35px;
        }

        .body .stations .station .info .name {
            margin-top: 35px;
            text-align: left;
            width: 30%;
        }

        .body .stations .station .info .timer {
            text-align: right;
            width: 65%;
        }
    </style> -->
    <body class="body">
        <div id="app" class="app">
            <div class="header">
                <h1>heys</h1>
                <div class="session-timer" id="globalTimer">00:30:00</div>
                <div class="logo">
                    <a href="https://jmaceurope.com/">
                        <img class="image image-logo" src="https://beestatic.azureedge.net/jmaceurope-com/2018/06/logo-bianco.svg" alt="JMAC Europe" id="logo" data-height-percentage="66" data-actual-width="300" data-actual-height="101">
                    </a>
                </div>
            </div>
            <div class="stations">
                <div class="station station-1">
                    <div class="info">
                        <p class="name">Station 1</p>
                        <p class="timer" id="timerStation1">00:00:00</p>
                    </div>
                </div>
                <div class="station station-2">
                    <div class="info">
                        <p class="name">Station 2</p>
                        <p class="timer" id="timerStation2">00:00:00</p>
                    </div>
                </div>
                <div class="station station-3">
                    <div class="info">
                        <p class="name">Station 3</p>
                        <p class="timer" id="timerStation3">00:00:00</p>
                    </div>
                </div>
                <div class="station station-4">
                    <div class="info">
                        <p class="name">Station 4</p>
                        <p class="timer" id="timerStation4">00:00:00</p>
                    </div>
                </div>
                <div class="station station-5">
                    <div class="info">
                        <p class="name">Station 5</p>
                        <p class="timer" id="timerStation5">00:00:00</p>
                    </div>
                </div>
                <div class="station station-6">
                    <div class="info">
                        <p class="name">Station 6</p>
                        <p class="timer" id="timerStation6">00:00:00</p>
                    </div>
                </div>
                <div class="station station-7">
                    <div class="info">
                        <p class="name">Station 7</p>
                        <p class="timer" id="timerStation7">00:00:00</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let timers = [
                new Timer(),
                new Timer(),
                new Timer(),
                new Timer(),
                new Timer(),
                new Timer(),
                new Timer()
            ];
            let globalTimer = new Timer();
            globalTimer.addEventListener('secondsUpdated', function (e) {
                $('#globalTimer').html(globalTimer.getTimeValues().toString());
            });
            $( document ).ready(function() {
                globalTimer.start({countdown: true, startValues: {minutes: 30}});
            });
            for (let i = 0; i < timers.length; i++){
                let timerNr = i+1;
                timers[i].addEventListener('secondsUpdated', function (e) {
                    $('#timerStation'+timerNr).html(timers[i].getTimeValues().toString());
                });
            }
            var socket = io.connect();
            socket.on('toggleTimer', function(data){
                let stationToToggle = data.sensor;
                let timerToUpdate = timers[stationToToggle-1];
                if(timerToUpdate.isRunning())
                {
                    timerToUpdate.pause();
                    var station = $('#timerStation'+stationToToggle).parents(".station");
                    station.removeClass("active");
                    station.addClass("stop");
                }
                else
                {
                    timerToUpdate.start();
                    var station = $('#timerStation'+stationToToggle).parents(".station");
                    station.addClass("active");
                    station.removeClass("stop");
                }
            });
        </script>
    </body>
</html>