html {
    height: 100%;
}
.body {
    background-color: #ffffff;
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

.body .hidden {
    display: none;
}

.body .disabled {
    opacity: 0.5;
    -o-opacity: 0.5;
    -ms-opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    pointer-events: none;
    text-decoration: none;
}

.content{
    background-color: #f4f6f9;
    height: 100%;
    margin: 0px auto 0px auto;
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.body .header-run {
    background-color: #3584b5;
    border: 2px solid black;
    height: 15%;
}

.body .header-run .logo .image {
    height: 50px;
    position: absolute;
    right: 3%;
    text-align: right;
    top: 4%;
    width: auto;
}

.body .header-run .global-timer {
    color: #ffffff;
    font-size: 60px;
    height: 50px;
    line-height: 50px;
    margin: auto auto auto auto;
    margin-top: 3%;
    position: relative;
    text-align: center;
}

.body .stations .station {
    background-color: #ffffff;
    border: 2px solid black;
    border-top: 1px solid black;
    display: block;
    height: 100px;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
}

.body .button-actions-run .button {
    float: left;
    width: 12%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-top: 1px solid black;
    text-align: center;
    height: 30px;
    position: center;
    margin-top: 1%;
}

.body .stations .station.active {
    background-color: green;
}

.body .stations .station.stop {
    background-color: red;
}

.body .stations .station.off {
    background-color: lightgrey;
}

.body .stations .stationsRow {
    float: left;
    width: 50%;
}

.body .stations .station .info p {
    display: inline-block;
    font-size: 35px;
}

.body .stations .station .info .name {
    margin-top: 35px;
    text-align: left;
    width: 30%;
}

.body .stations .station .info .timer {
    text-align: right;
    width: 65%;
}

.body form.form-ajax.error .error-message {
    color: red;
    display: block;
}

.body form.form-ajax .error-message {
    display: none;
}

.body form.form-ajax.success .success-message {
    color: green;
    display: block;
}

.body form.form-ajax .success-message {
    display: none;
}
