html {
    height: 100%;
}
.body {
    background-color: #ffffff;
    display: block;
    font-family: Arial, "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

.body .hidden {
    display: none;
}

.body .button.disabled {
    opacity: 0.5;
    -o-opacity: 0.5;
    -ms-opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    pointer-events: none;
    text-decoration: none;
}

.content{
    background-color: #f4f6f9;
    height: 100%;
    margin: 0px auto 0px auto;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
